@import "tailwindcss";

:root {
  --font-family-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --color-bg-color: #111827;
  /* Gray 900 */
  --color-text-main: #f3f4f6;
  /* Gray 100 */
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  background-color: var(--color-bg-color);
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

/* Custom Scrollbar for Dark Mode */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
  /* Gray 800 */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  /* Gray 600 */
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
  /* Gray 500 */
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}